body {
    margin: 0;
}

.vmax {
    width: 50vmax;
    height: 100px;
    background-color: #e88c8c;
}

.vmin {
    width: 50vmin;
    height: 100px;
    background-color: #5c5cdd;
}

.vi {
    width: 10vi;
    height: 100px;
    background-color: #97c361;
}

.vb {
    width: 10vb;
    height: 100px;
    background-color: #40a0cc;
}